@import url("https://fonts.googleapis.com/css?family=Questrial");

body {
  font-family: "Questrial", sans-serif;
}

.outer {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 400px;
  margin-top: -200px;
  margin-left: -200px;
  color: #263238;
  background: #00ACC1;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
.outer h1 {
  text-align: center;
  margin-top: 130px;
}
.outer h2 {
  text-align: center;
}
.outer p {
  text-align: center;
}
